.main-header {
    text-align: center;
}
.img-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
    box-shadow: 1px 5px 5px lightgrey;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .img-container {
        width: 100%
    }
}

.image > img {
    width: 50%;
    margin-top: 2%;
}

.item-title {
    display: block;
}

.cart-add {
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    width: 150px;
    padding: 5px;
    background-color: #B1B5C8;
    border: 2px #BAA7B0 solid;
    border-radius: 3%;
    font-family: 'MuseoModerno', cursive;
}

.cart-add:hover {
    background-color: whitesmoke;
}

#add-icon {
    margin-left: 5%;
    border-radius: 50%;
}