#home-carousel {
    text-align: center;
    height: 50%;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.image-gallery {
    width: 40%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media (max-width: 480px) {
    .image-gallery {
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 1024px) {
    .image-gallery {
        width: 100%;
        height: 40%;
    }
}

@keyframes fadeOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}