#home-carousel {
    text-align: center;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #home-carousel {
        height: 80%;
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #home-carousel {
        height: 90%;
        width: 100%;
    }
}

.image-gallery {
    width: 40%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 480px) {
    .image-gallery {
        width: 100%;
        height: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .image-gallery {
        width: 100%;
        height: 40%;
    }
}

@keyframes fadeOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}